$primary-color-dark: #c2185b;
$primary-color: #e91e63;
$primary-color-light: #f8bbd0;
$primary-color-text: #ffffff;
$accent-color: #ff4081;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

// $primary-color-dark: #303f9f;
// $primary-color: #3f51b5;
// $primary-color-light: #c5cae9;
// $primary-color-text: #ffffff;
// $accent-color: #03a9f4;
// $primary-text-color: #212121;
// $secondary-text-color: #757575;
// $divider-color: #bdbdbd;
