@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap");

body {
  color: #000;
  background-color: #fff;
}

h1 {
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 3em;
}
